.put{
    width: 150px;
    height:150px;
    display: block;
    margin: 0 auto;
    opacity: 1;
  }
  .noneput{
    width: 1px;
    height:1px;
    display: block;
    margin: 0 auto;
    opacity: 0;
  }