#main{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 20px 0 20px;
    text-align: center;
    font-family: arial;
}
#style{
  width: 300px;
  height: 170px;
  background-color: black;
  margin: auto;
  padding-top: 20px;
}
#divider{
  width: 200px;
  height: 1px;
  background-color: black;
  margin: 20px auto 20px auto;
}
#empty{
  height: 70px;
}
img{
    width: 200px;
    border-radius: 20px;
}
#contact{
    width: 20px;
    margin: 10px;
}
h1{
    text-align: center;
    color: white;
}
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  #button8 {
    /* border: none; */
    /* outline: 0; */
    /* display: inline-block; */
    padding: 8px;
    margin: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    /* cursor: pointer; */
    width: 50%;
    font-size: 18px;
    border-radius: 5px;
  }
  #main:hover, #button8:hover, a:hover {
    opacity: 0.7;
  }
  #profileimg:hover{
    opacity: 0;
  }